<form-step
    [title]="'Informacija'"
    [onClickedNext]="onClickedNext"
>
    <p>Pildydami šią formą sutinkate su:</p>

    <ul>
        <li>šios paraiškos pagrindu „Swedbank“, AB gali tvarkyti jūsų asmens duomenis, priimdama sprendimą dėl jūsų prašomo finansavimo produkto automatiniu būdu*. Šioje paraiškoje nurodytų duomenų bei jūsų kreditingumo ir įsiskolinimo vertinimo tikslais, „Swedbank“, AB tvarkys duomenis, gautus iš išorinių registrų.</li>

        <li>Jūs turite teisę ginčyti priimtą sprendimą interneto banko žinute arba telefonu. Tokiu atveju minėtą sprendimą peržiūrės „Swedbank“ darbuotojas.</li>
    </ul>

    <p>* Automatinis sprendimų priėmimo procesas gerina jūsų skaitmeninę patirtį, didina proceso efektyvumą ir taupo jūsų bei finansavimo proceso laiką.</p>
</form-step>