<form-step
    [title]="'Paskolos terminas'"
    [onClickedNext]="onClickedNext"
    [onClickedPrev]="onClickedPrev"
>
    <form [formGroup]="stepForm" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="duration-field" style="width: auto">{{ fieldToLabelMap.duration }}</label>
            <input type="number" formControlName="duration" required />
            <span class="form-error pure-form-message-inline" *ngIf="showValidationMessages && loanDurationControl?.errors?.required">
                Reikia nurodyti paskolos trukmę
            </span>
        </div>
    </form>
</form-step>