<form-step
    [title]="'Peržiūra'"
    [onClickedNext]="onClickedNext"
    [onClickedPrev]="onClickedPrev"
>
    <div class="question-block" *ngFor="let field of fields">
        <div>{{field.question}}</div>
        <div>{{field.answer}}</div>
    </div>
</form-step>