<form-step
    [title]="'Pajamos'"
    [onClickedNext]="onClickedNext"
    [onClickedPrev]="onClickedPrev"
>
    <form [formGroup]="stepForm" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="amount-field" style="width: auto">{{ fieldToLabelMap.totalIncome }}</label>
            <input type="number" formControlName="totalIncome" required />
            <span class="form-error pure-form-message-inline" *ngIf="showValidationMessages && incomeInfoControl?.errors?.required">
                Reikia nurodyti kiek uždirbi
            </span>
        </div>
    </form>
</form-step>