<div class="pure-g">
    <div class="pure-u-md-3-5 pure-u-1">
        <h2>Pastebėjote, ko trūksta namams? Ši paskola padės Jums atsinaujinti</h2>

        <p class="label-brand-strong">Specialus pasiūlymas: sutarties administravimo mokestis 0 Eur.</p>

        <ul>
            <li> Paskola nuo 5 000 iki 20 000 Eur.</li>
            <li> Pinigus pervesime Jums į sąskaitą iškart, sudarius sutartį.</li>
            <li> Nereikia įkeisti įsigyto nekilnojamojo turto.</li>
            <li> Nereikalingas pradinis įnašas.</li>
        </ul>

        <button [routerLink]="formRoute">Pildyti paraišką</button>

        <p>Pasiūlymas galioja nuo šių metų birželio 1 iki 28 d. Standartinis paskolos sutarties administravimo mokestis: 1% nuo paskolos sumos, bet ne mažiau nei 95 Eur.</p>

        <p>Atkreipiame dėmesį, kad naudodamiesi finansavimo paslaugomis Jūs prisiimate finansinius įsipareigojimus. Netinkamas finansinių įsipareigojimų vykdymas gali daryti neigiamą įtaką Jūsų kredito istorijai, pabranginti skolinimąsi, taip pat gali būti pradėtas priverstinis išieškojimas.</p>
    </div>
    <div class="pure-u-md-2-5 pure-u-1">
        <img class="pure-img" src="/assets/img/loan-hero.jpg" alt="">
    </div>
</div>
