<form-step
    [title]="'Co-debtor info'"
    [onClickedNext]="onClickedNext"
    [onClickedPrev]="onClickedPrev"
>
    <form [formGroup]="stepForm" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="amount-field" style="width: auto">{{ fieldToLabelMap.codebtorInfo }}</label>
            <input type="text" formControlName="codebtorInfo" required />
            <span class="form-error pure-form-message-inline" *ngIf="showValidationMessages && codebtorInfoControl?.errors?.required">
                Reikia nurodyti bendraskolių informaciją
            </span>
        </div>
    </form>
</form-step>