<form-step
    [title]="'Paskola'"
    [onClickedNext]="onClickedNext"
    [onClickedPrev]="onClickedPrev"
>
    <form [formGroup]="stepForm" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="amount-field" style="width: auto">{{ fieldToLabelMap.amount }}</label>
            <input type="number" formControlName="amount" required />
            <span class="form-error pure-form-message-inline" *ngIf="showValidationMessages && loanAmountControl?.errors?.required">
                Reikia nurodyti paskolos dydį
            </span>
        </div>
    </form>
</form-step>