.page-container-bg {
    background: url("/assets/img/oakbg.jpg");
    background-size: cover;
    padding: 2rem;
    min-height: 100vh;
}

.page-container {
    padding: 1rem;
    background: white;
    border-radius: 2px;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--brand-orange);
}
