<site-header></site-header>

<div class="page-container-bg">
    <div class="page-col page-col--no-padding page-title">
        {{ title }}
    </div>
    <div class="page-container page-col">
        <router-outlet></router-outlet>
    </div>
</div>
