<section class="form-step">
  <h2>{{ title }}</h2>

  <div>
    <div class="form-step-content">
      <ng-content></ng-content>
    </div>
    
    <div class="form-step-button-bar">
      <button *ngIf="onClickedPrev" class="btn-secondary" (click)="handleClickedPrev()">Atgal</button>
      <div *ngIf="!onClickedPrev"></div>
      <button *ngIf="onClickedNext" (click)="handleClickedNext()">Toliau</button>
    </div>
  </div>
</section>
