<form-step
    [title]="'Įsiprareigojimai'"
    [onClickedNext]="onClickedNext"
    [onClickedPrev]="onClickedPrev"
>
    <form [formGroup]="stepForm" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="amount-field" style="width: auto">{{ fieldToLabelMap.totalLiabilities }}</label>
            <input type="number" formControlName="totalLiabilities" required />
            <span class="form-error pure-form-message-inline" *ngIf="showValidationMessages && totalLiabilitiesControl?.errors?.required">
                Reikia nurodyti kiek įsipareigojęs
            </span>
        </div>
    </form>
</form-step>