<styled-block
    [title]="'Pastebėjote, ko trūksta namams?'"
>
    <p>Leidžiant laiką namuose neabejotinai iškilo naujų poreikių ir idėjų, kaip pagerinti savo būstą. Jeigu tam jums reikia papildomų lėšų, vartojimo paskola namams – puikus sprendimas remontuojant būstą.</p>

    <p class="label-brand-strong">Specialus pasiūlymas sutarties administravimo mokesčiui galioja 2020 m. birželio 1–28 d.</p>

    <button routerLink="/small-home-loans" class="action-button">Sužinokite daugiau</button>
</styled-block>

