header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
}

header div {
    display: flex;
    align-items: center;
}

.logo-container site-logo {
    margin-right: 1rem;
}
