.styled-block {
    padding: 1rem;
    border: 1px solid var(--color-border);
    border-left: 4px solid var(--brand-orange);
    border-radius: 0 2px 2px 0;
}

.styled-block-heading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
