<form-step
    [title]="'Bendraskolis?'"
    [onClickedNext]="onClickedNext"
    [onClickedPrev]="onClickedPrev"
>
    <form [formGroup]="stepForm" class="pure-form pure-form-aligned">
        <div class="pure-control-group">
            <label for="duration-field" style="width: auto">{{ fieldToLabelMap.codebtors }}</label>
            <select formControlName="codebtors" required>
                <option value="">-----</option>
                <option value="yes">Taip</option>
                <option value="no">Ne</option>
            </select> 
            <span class="form-error pure-form-message-inline" *ngIf="showValidationMessages && areThereCodebtorsControl?.errors?.required">
                Reikia nurodyti ar yra bendraskolių
            </span>
        </div>
    </form>
</form-step>