:root {
    --color-border: #ebe7e2;
    --brand-orange: #EE7023;
}

@font-face {
  font-family: "SwedSans";
  src: url("assets/fonts/SwedbankSans-Regular.woff");
}

html, body {
    padding: 0;
    margin: 0;
}

* {
  font-family: "SwedSans", sans-serif;
  box-sizing: border-box;
}

/* Add a gutter to Pure's Columns */
.pure-g {
  margin: 0 -1em;
}

.pure-g > div {
  padding: 0 1em;
}

.page-col {
    max-width: 1260px;
    margin: 0 auto;
    padding: 1rem;
}

button {
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    line-height: 18px;
    transition: color 0.3s ease-out;
    transition: border-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    background: none var(--brand-orange);
    border: 1px solid var(--brand-orange);
    display: inline-block;
    -webkit-appearance: none;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    padding: 13px 15px;
    font: 18px/18px SwedSans, sans-serif;
}

button.btn-secondary {
  background: #777;
  border-color: #777;
}

.label-brand-strong {
    font-weight: bold;
    color: var(--brand-orange);
}
